body {
  margin: 0;
}
body * {
  box-sizing: border-box;
}
.wrapper {
  width: 1050px;
  margin: 0 auto;
  margin-top: 80px;
  min-height: 1000px;
  position: relative;
}
.back-1 {
  width: 100%;
  height: 500px;
  background-color: #f1900e;
  position: absolute;
}
.back-image {
  position: relative;
  width: 80%;
  height: 600px;
  margin: auto;
  top: 50px;
  background-image: url("../image/gggg.jpg");
  background-size: cover;
}

.back-2 {
  background-color: #495f89;
  height: 400px;
  position: relative;
  width: 65%;
  left: 17.5%;
  top: 600px;
}
.info {
  font-family: "Open Sans", sans-serif;
  position: absolute;
  height: 500px;
  width: 60%;
  background-color: white;
  top: 440px;
  right: 0;
  padding-top: 85px;
  padding-left: 40px;
}
.title {
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  color: #414d67;
  margin-bottom: 30px;
}
.descr {
  font-size: 20px;
  font-style: italic;
  line-height: 32px;
  margin-bottom: 30px;
  color: #111111;
}
.d-link {
  color: #111111;
  text-decoration: none;
  border-style: none none solid;
  border-width: 1px;
}
.link {
  text-decoration: none;
  color: white;
  background-color: #414d67;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 3px;
  padding: 10px 30px;
}
